<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yushan.user_service.dao.LibraryMapper" >
  <resultMap id="BaseResultMap" type="com.yushan.user_service.entity.Library" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uuid" jdbcType="OTHER" javaType="java.util.UUID" />
      <arg column="user_id" jdbcType="OTHER" javaType="java.util.UUID" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from library
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.util.UUID">
    select
    <include refid="Base_Column_List" />
    from library
    where user_id = #{userId,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from library
    where id = #{id,jdbcType=INTEGER}
  </delete>
      <insert id="insert" parameterType="com.yushan.user_service.entity.Library" useGeneratedKeys="true" keyProperty="id">
    insert into library (uuid, user_id,
      create_time, update_time)
    values (#{uuid,jdbcType=OTHER}, #{userId,jdbcType=OTHER},
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.yushan.user_service.entity.Library" useGeneratedKeys="true" keyProperty="id">
    insert into library
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=OTHER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=OTHER},
      </if>
      NOW(),
      NOW(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yushan.user_service.entity.Library" >
    update library
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=OTHER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=OTHER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = NOW(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yushan.user_service.entity.Library" >
    update library
    set uuid = #{uuid,jdbcType=OTHER},
      user_id = #{userId,jdbcType=OTHER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = NOW()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>